/* TEMPOPRARY STYLES */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #e2bc40;
}

.margin-sm {
  margin-bottom: 2.4rem;
}

.container {
  max-width: 130rem;
  margin: 0 auto;
}

/*-----------------*/

.section-financing {
  background-color: #272727;
  padding: 3.2rem 0rem 4.8rem 0rem;
}

.financing-grid {
  max-width: 100vw;
  margin: 0 auto;
  padding: 1.2rem 4.8rem 4.8rem 4.8rem;
  background-color: #272727;
  display: grid;
  row-gap: 6.4rem;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.financing-heading-box {
  padding: 2.4rem;
}

.financing-heading {
  font-size: 4.4rem;
  font-weight: 700;
  letter-spacing: -0.5px;
  line-height: 1.2;
  margin-bottom: 4.8rem;
}

.financing-headingbox-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 1.6rem;
}

.financing-img-box {
  border-radius: 8px;
  background-image: linear-gradient(to right bottom, #000000cb, #2727276b),
    url("/img/Financing/financing-img-box-img_optimized.png");
  background-size: cover;
  background-position: center;
}

.financing-grid-row2 {
  grid-column: span 2;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.financing-grid-row2-card {
  padding: 2.4rem;
}

.financing-grid-row2-card-heading {
  font-size: 4.4rem;
  font-weight: 700;
  letter-spacing: -0.5px;
  line-height: 1.2;
  margin-bottom: 4.8rem;
}

.financing-grid-row2-card-subheading {
  font-size: 3.2rem;
  font-weight: 500;
  letter-spacing: -0.5px;
  line-height: 1.2;
  margin-bottom: 4.8rem;
}

.financing-grid-row2-card-icon {
  color: #e2bc40;
  height: 6.4rem;
  width: 6.4rem;

  margin-bottom: 3.2rem;
  padding: 1.6rem;
  border-radius: 50%;
}

.financing-grid-row2-card-text-container {
  margin-bottom: 6.4rem;
}

.financing-grid-row2-card-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 6.4rem;
}

.financing-grid-tags-flexbox {
  display: flex;
  gap: 3.2rem;
}

.financing-grid-tag {
  display: inline-block;
  padding: 0.8rem 1.6rem;
  font-size: 1.6rem;
  text-transform: uppercase;
  border-radius: 100px;
  font-weight: 600;
  color: #272727;
  background-color: #e2bc40;
}
